src/main/mule/devops-mulesoft-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="86cfa0c6-2bf0-4eac-8d3b-4ef410a5bcca" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="devops-mulesoft-integrationFlow" doc:id="e5db2f04-ee79-4546-8b22-1b39ddb04140" >
		<http:listener doc:name="Listener" doc:id="955b8857-39b4-495f-ab75-88d77d5883f7" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value="#['Hello Raghu']" doc:name="Set Payload" doc:id="9abedc7f-3161-4d92-8448-727881d57df3" />
	</flow>
</mule>
